body {
    background: #747f8e;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card {
    box-shadow: 0 4px 8px rgb(3, 3, 3);
    border: none;
}
.form-control:focus {
    border-color: #285fb1;
    box-shadow: 0 0 0 0.25rem rgba(26, 26, 27, 0.685);
}